body {
    background-color: rgb(255, 255, 255);
    /* background-image: url('../../assets/images/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

button {
    border: 0;
    outline: none;
    background: transparent;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header-dashboard {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}


.header-dashboard__title {
    margin-bottom: 0;
    color: rgb(13, 43, 62);
    font-size: 15pt;
    transition: color 0.3s ease-in-out;
}

.header-dashboard__icon-arrow {
    color: black;
}

.header-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    cursor: default;
}

.header-dropdown {
    position: absolute;
    top: 100%; 
    z-index: 2;
    width: max-content;
    margin-top: 10px;
    padding: 10px;
    border-radius: 16px;
    cursor: default;
    transition: background-color 1.4s ease-out;
}

.header-dropdown__item {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header-dropdown__item-button-text {
    padding: 10px 15px;
    border-radius: 10px;
    transition: color .1s ease, background-color .6s ease;
}

.header-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-section__info {
    display: flex;
    flex-direction: column;
}


.header-profile__icon-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.header-profile__icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: red;
}


.header-dropdown-account {
    position: absolute;
    right: 0;
    top: 8%;
    margin-right: 10px;
    z-index: 2;
    border-radius: 11px;
}

.header-dropdown-account__content {
    /* padding: 12px 8px; */
    padding: 0;
    overflow: hidden;
}

.header-dropdown-account__content-item__container {
    margin: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 7px 0; 
    padding-right: 80px;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform .1s ease-out;
}

.header-dropdown-account__content-item__container:hover {
    transform: scale(1.02);
}


.header-dropdown-account__content-item__line {
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(99, 99, 99, 0.4);
}

.header-dropdown-account__content-item__text {
    font-size: 12pt;
}




