

.header-dropdown.theme-light, .header-dropdown-account.theme-light {
    background-color: rgb(232, 249, 255);
}


.header-dropdown__item-button-text.theme-light, .header-dropdown-account__content-item.theme-light, .header-dropdown-account__content-item__container.theme-light {
    color: rgb(13, 43, 62);
}

.header-dropdown-account__content-item__container.theme-light:hover {
    background-color: #578FCA60;
}

.header-dropdown__item-button-text.theme-light.active {
    background-color:  #578FCA80;
}
