

.header-dropdown-button__transition {
    transition-property: color, background-color;
    transition-duration: 100ms, 500ms; 
    transition-timing-function: ease;
}



.header-dropdown {
    position: absolute;
    top: 100%; 
    z-index: 60;
    width: max-content;
    margin-top: 10px;
    padding: 10px;
    border-radius: 16px;
    cursor: default;
    background-color: var(--bg-dd-color);
    transition: background-color 1.2s ease-out;
}

.header-dropdown-account {
    position: absolute;
    left: 0;
    top: 100%;
    margin-right: 10px;
    z-index: 60;
    border-radius: 11px;
}

.header-dropdown-account__content-item__container {
    margin: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 7px 0; 
    padding-right: 80px;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform .1s ease-out;
}

.header-dropdown-account__content-item__container:hover {
    transform: scale(1.02);
    background-color: var(--bg-btn-h-color);
}


.header-dropdown-account__content-item__line {
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(99, 99, 99, 0.4);
}


svg {
    transition: transform 0.3s ease;
}

svg.rotate {
    transform: rotate(-90deg);
}

